{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <div class="accounts row">
    <form id="auth-form" class="col-12">
      <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
      </div>
      <h2>{{ title }}</h2>
      <div id="messages" class="text-danger"></div>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}