{% extends "base.html" %}
{% load static %}
{% block content %}
  <h2 class='text-center'>Profile Page for {{ user.username | capfirst }}</h2>
  <hr>
{% if not tickets and not votes and not comments %}
  <h3 class='text-center my-5'>No Activity to Display</h2>
{% endif %}
  <!-- Ticket Activity -->
  {% if tickets %}
    <h3>Your Tickets</h3>
    <table class="table dc-chart border">
      <thead>
        <tr>
          <th class="dc-table-head">Ticket</th>
          <th class="dc-table-head">Type</th>
          <th class="dc-table-head">Description</th>
          <th class="dc-table-head">Status</th>
          <th class="dc-table-head">Votes</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr class="ticket dc-table-row">
            <td class="id">{{ticket.id}}</td>
            <td>{{ticket.type}}</td>
            <td>{{ticket.description|truncatechars:20|safe }}</td>
            <td>{{ticket.status}}</td>
            <td>{{ticket.votes}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>  
  {% endif %}

  <!-- Voting Activity -->
  {% if votes %}
    <h3>Tickets You Up Voted</h3>
    <table class="table dc-chart border">
      <thead>
        <tr>
          <th class="dc-table-head">Ticket</th>
          <th class="dc-table-head">Type</th>
          <th class="dc-table-head">Status</th>
          <th class="dc-table-head">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for vote in votes %}
          {% for ticket in alltickets %}
            {% if ticket.id == vote.ticket.id %}
            
            <tr class="ticket dc-table-row">
              <td class="id">{{ticket.id}}</td>
              <td>{{ticket.type}}</td>
              <td>{{ticket.status}}</td>
              <td>{{ticket.description|truncatechars:20|safe }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
{% block aux %}
<script>
  // Table links
  var proto = window.location.protocol;
  var host = window.location.host;
  var path;
  $('.ticket').click(function(){
     window.location.assign(proto+'//'+host+'/tracker/ticket-'+$(this).children('.id').text());
  })
</script>
{% endblock %}