{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Account Settings</h1>

  <h2>Subscribe</h2>
  <p>A subscription allows you to create and vote on "FEATURES"</p>

  {% if user.subscription %}
    <form id="unsubscribe">
      {% csrf_token %}
      <button class="btn btn-danger">Unsubscribe</button>
    </form>
    
  {% else %}
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <button id="subscribe" class="btn btn-success">Subscribe</button>
  {% endif %} 

  <h2 class='mt-4'>Delete Account</h2>
  <button id="del_account_btn" class="btn btn-danger">Delete Account</button>
  <form id="del_account_confirm" style="display: none;">
    {% csrf_token %}
    <div>
      <div class="border border-danger my-2 p-2">
        <p><strong class="text-danger">Caustion</strong>: Are you sure you want to delete your account?</p>
        <p>If you choose to delete your account your subscriptions will be deleted as well, along with all of your tickets, comments and votes.</p>
        <div id="messages" class="text-danger"></div>
      </div>
      <button id='del_no' class="btn btn-success">No</button>
      <button id='del_yes' class="btn btn-danger">Yes</button>
    </div>
  </form>
{% endblock %}
{% block aux %}
  <script>
    var handler = StripeCheckout.configure({
      key: '{{ pubkey }}',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: function(token) {
        $.ajax({
          url: '/api-account-payments/',
          type: 'POST',
          data: {stripeToken:token.id}
        })
        .done(function(data,data2,data3) {
          window.location.reload(true);
        });
      }
    });

    $('#subscribe').click(function(e) {
      // Open Checkout with further options:
      handler.open({
        name: 'DevCrate',
        description: 'Blog Reader Pro - DevTracker Subscription',
        amount: 500,
        email: '{{user.email}}'
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    $(window).bind('popstate', function() {
      handler.close();
    });
  </script>
  <script>
    $('#unsubscribe').submit(function(e){
      e.preventDefault();
      $.ajax({
        url: '/api-account-payments/',
        type: 'DELETE',
        data: $(this).serialize()
      })
      .done(function(data,data2,data3) {
        // json = jQuery.parseJSON(data);   
        window.location.reload(true);
      });
    });
  </script>
{% endblock %}