{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Account Settings</h1>

  <h2>Subscribe</h2>
  <p>A subscription allows you to create and vote on "FEATURES"</p>

  {% if user.subscription %}
    <form action="{% url 'accounts:cancel' %}" method="POST">
       {% csrf_token %}
      <button class="btn btn-danger">Unsubscribe</button>
    </form>
    
    {% else %}
    <form action="/accounts/payments/" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_FrKRSDGVig99hJ3lEQzR4He4"
        data-amount="500"
        data-email="{{user.email}}"
        data-name="blogreaderpro.com"
        data-description="Subscribe"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
  {% endif %} 

  <h2>Delete Account</h2>
  <button id="del_account_btn" class="btn btn-danger">Delete Account</button>
  <form id="del_account_confirm" style="display: none;">
    {% csrf_token %}
    <div>
      <div class="border border-danger my-2 p-2">
        <p><strong class="text-danger">Caustion</strong>: Are you sure you want to delete your account?</p>
        <p>If you choose to delete your account your subscriptions will be deleted as well, along with all of your tickets, comments and votes.</p>
        <div id="messages" class="text-danger"></div>
      </div>
      <button id='del_no' class="btn btn-success">No</button>
      <button id='del_yes' class="btn btn-danger">Yes</button>
    </div>
  </form>
{% endblock %}
{% block aux %}
{% endblock %}