{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
  <div class="blog">
    <h1>New Post</h1>
    <form id="postform" method="{% if id %}PUT{% else %}POST{% endif %}" enctype="multipart/form-data">
      {% if id %}
        <input type="number" name='id' value="{{ id }}" hidden>
      {% endif %}
      {% csrf_token %}
      {{ form|crispy }}
      <div id="messages" class="text-danger"></div>
      <button id="submit_btn" type="submit" class="btn btn-info">Save</button>
    </form>
  </div>
{% endblock %}
{% block aux %}
  <script src="{% static 'js/blog.js'%}"></script>
{% endblock %}