{% extends 'base.html' %}
{% block title %}Create a Ticket{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="col-12">Submit New Ticket</h2>
    <form id="ticketform" class="col-12" action="{% url 'trackerapi:ticket' %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div id="messages" class="text-danger"></div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block aux %}
  <script src="{% static 'js/ticketForm.js' %}"></script>
{% endblock %}