{% extends 'base.html' %}

{% load static %}

{% block title %}{{ tickets.count }} Tickets{% endblock %}

{% block auxheader %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/simplePagination.css' %}"/>
{% endblock %}

{% block auxmenu %}
  <a class="nav-item btn btn-outline-success mx-2" href="{% url 'tracker:form'%}">New Ticket</a>
{% endblock %} 

{% block content %}
  <div class="container">
    <h2>Welcome to the Blog Reader Pro DevTracker</h2>
    <p class="lead">This tracker is a place where you can come to submit bug tickets or feature tickets for the Blog Reader Pro app. Feature tickets are a request for a shiny new feature in an upcoming release of Blog Reader Pro. However, in order to submit tickets for, comment or vote on a feature, a pro subscription is required. You can subscribe to DevTracker in the settings page. Just click pay with card. Other than that have fun and get submitting.</p>
    
    {% if tickets %}
      <h3 class="my-5">Stats for Nerds</h3>
      <div class="row">
        <!-- number display -->
        
        <div id="avg" class="col-12 col-md-6">
          <h3>Total Tickets</h3>
          <div id="number" class="col-12 border text-center py-4"></div>
          <h3 class="mt-4">Average of Complete Tickets</h3>
          <div id="day-avg" class="border text-center col-12 py-4"></div>
          <div id="week-avg" class="border text-center col-12 py-4"></div>
          <div id="month-avg" class="border text-center col-12 py-4"></div>
        </div>

        <!-- pie chart -->
        <div id="type-complete" class="col-12 col-md-6 mx-auto">
          <h3 class="col-12">Percentage of Complete Tickets by Type</h3>
        </div>
      </div>
      
      <div class="row">
        <h3 class="col-12 mt-4 text-center">Filters</h3>
        <!-- search by id -->
        <div id="id-field" class="text-center col-12 col-sm-6 col-md-3 py-4">
          <h3 class="col-12">Id</h3>
        </div>

        <!-- select by type -->
        <div id="type-select" class="text-center col-12 col-sm-6 col-md-3 py-4">
          <h3 class="col-12">Type</h3>
        </div>

        <!-- Select by status -->
        <div id="status-select" class="text-center col-12 col-sm-6 col-md-3 py-4">
          <h3>Status</h3>
        </div>

        <!-- search by description -->
        <div id="search-field" class="text-center col-12 col-sm-6 col-md-3 py-4">
          <h3 class="col-12">Description</h3>
        </div>
      </div>

      <div class="row">
        <!-- All Tickets list -->
        <h3>All Tickets</h3>
        <table id="fulllist" class="table col-12 border d-none d-md-table"></table>
        <table id="smalllist" class="table col-12 d-table d-md-none"></table>
        <div id="pager"></div>        
      </div>

      <div class="row my-5">
        <div class="col-6 px-0">
          <table id="vote-feature" class='table col-12 border d-none d-lg-table'>
            <h3 class="d-none d-lg-table">Highest Voted Features</h3>
          </table>
        </div>
        <div class="col-6 px-0">
          <table id="vote-bug" class='table col-12  border d-none d-lg-table '>
            <h3 class="d-none d-lg-table">Highest Voted Bugs</h3>
          </table>
        </div>
          
        <table id="vote-feature-small" class='table col-12 d-table d-lg-none'>
          <h3 class="d-table d-lg-none">Highest Voted Features</h3>
        </table>
        <table id="vote-bug-small" class='table col-12 d-table d-lg-none'>
          <h3 class="d-table d-lg-none">Highest Voted Bugs</h3>
        </table>
      </div>      
    {% else %}
      <h2 class="text-center">There are currently no tickets, Sorry 😞, why don't you create one?</h2>
    {% endif %}
  </div>
{% endblock %}

{% block aux %}
  <script src="https://unpkg.com/d3@5/dist/d3.js"></script>
  <script src="https://unpkg.com/crossfilter2@1.4/crossfilter.js"></script>
  <script src="https://unpkg.com/dc@3/dc.js"></script>
  <script src='{% static "js/graphs.js" %}'></script>
  <script src='{% static "js/jquery.simplePagination.js" %}'></script>
{% endblock %}