{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="accounts">
    <div id="messages"></div>
    <form id="login-form" role="form" method="post" action="{% url 'accounts:login' %}">
      <h2>Login</h2>
      {% csrf_token %}
      {{ form }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div> 
{% endblock %}
{% block aux %}
  <script src="{% static 'accounts/js/api.js' %}"></script>
  <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}